body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #000;
    color: white;
    padding: 15px;
    text-align: center;
    z-index: 10;
}

/* Bleu */
.color1 { 
    color: #00c5d5;
}

/* Violet */
.color2 {
    color: #8a6ace;
}

h1 {
    font-size: 4em;
}

nav {
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    padding-bottom: 9px;
    padding-top: 9px;
    width: 100%;
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    text-align: center;
    flex: 1;
}

nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

nav ul li a img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

nav ul li a img:hover {
    transform: scale(1.1);
}


/* Style de l'annexe */
.annexe {
    font-style: italic;
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 5px solid #ffcc00;
    padding: 15px;
    margin: 20px auto;
    width: 80%;
    text-align: left;
}


#version1 {
    display: block;
}

/* Style du sous-titre */
.subtitle {
    color: white;
    text-align: center;
    font-size: 3em;
    margin-top: -10px;
}

/* Onglets */
.tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tab {
    background-color: #666;
    color: white;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.tab:hover {
    background-color: #888;
}

/* Contenu des vidéos */
.video-container {
    text-align: center;
    margin-top: 20px;
}

.version-content {
    display: none;
    margin-top: 20px;
}

#video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 0;
    position: absolute;
    padding-bottom: 10px;
}

#video-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* Séparateur bouton */
.tab-separateur {
    background-color: #fff;
    margin: 5px;
    padding: 1px;
    border-radius: 5px;
    border-color: #fff;
}



/* Container des grandes vidéos */
.single-video, #second-video {
    margin-top: -40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Espacement entre les vidéos */
}

/* Container des petites vidéos */
#dual-videos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%; /* Espacement de 10% entre les petites vidéos */
    width: 100%;
    padding-bottom: 30%;
}

/* Pour les petites vidéos */
#choiceA, #choiceB {
    width: 30%;
    height: auto;
    cursor: pointer;
}

/* Pour les grandes vidéos */
#videoA, #videoB {
    width: 75%;
    height: auto;
}

#video-container,
#dual-videos,
#second-video,
.single-video {
    z-index: 1; /* Place-les derrière */
}

.hidden {
    display: none;
}

/* Style Menu pour le choix des options */
.menu-container {
    z-index: 10;
    font-style: italic;
    color: #fff;
    background-color: #0D0D0D;
    border-left: 5px solid #00c5d5;
    border-right: 5px solid #8a6ace;
    padding: 20px;
    margin: 30px auto;
    width: 80%;
    text-align: left;
    line-height: 1.8;
}

#remove-player {
    background-color: #FFCDCE;
}

#add-player {
    background-color: #DFFFE0;
}

.start-button-container {
    display: flex;
    justify-content: center; /* Centrer le bouton dans le conteneur */
    flex-grow: 1; /* Permet au conteneur de s'étendre pour occuper l'espace disponible */
}

#start-button {
    display: inline-block; /* Assure que le bouton reste en ligne */
    width: 200px; /* Largeur du bouton */
    height: 60px; /* Hauteur du bouton */
    background-color: black; /* Fond noir */
    color: white; /* Couleur du texte en blanc */
    text-align: center; /* Centrer le texte à l'intérieur */
    line-height: 60px; /* Centrer verticalement le texte */
    font-size: 1.5em; /* Taille du texte */
    font-weight: bold; /* Texte en gras */
    border-radius: 10px; /* Bord légèrement arrondi */
    border-color: #000;
    border: none;
    cursor: pointer; /* Curseur en forme de main lors du survol */
    transition: background-color 0.3s ease; /* Transition pour un effet lors du survol */
}

#start-button:hover {
    background-color: #0a0a0a; /* Changer la couleur de fond au survol (gris foncé) */
}

#options-menu {
    margin-left: 5%;
}

/* CSS pour désactiver les boutons */
.disabled {
    opacity: 0.5;
    pointer-events: none; /* Empêche les clics */
}



/* Style général pour le conteneur des vidéos */
.video-frame {
    position: relative;
    display: inline-block;
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 350px;
    height: 300px;
}

/* Style pour les vidéos à l'intérieur du cadre */
video {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

/* Style pour le nom du joueur */
.player-name {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
    color: black;
    font-size: 1.5em;
    z-index: 10;
}

/* Styles spécifiques selon le numéro du joueur */
#player1-frame {
    background-color: rgba(0, 197, 213, 0.5); /* Player 1: couleur #00c5d5 */
    border: 2px solid #00c5d5;
}
#player2-frame {
    background-color: rgba(138, 106, 206, 0.5); /* Player 2: couleur #8a6ace */
    border: 2px solid #8a6ace;
}
#player3-frame {
    background-color: rgba(0, 197, 213, 0.5); /* Player 3: couleur #00c5d5 */
    border: 2px solid #00c5d5;
}
#player4-frame {
    background-color: rgba(138, 106, 206, 0.5); /* Player 4: couleur #8a6ace */
    border: 2px solid #8a6ace;
}
#player5-frame {
    background-color: rgba(0, 197, 213, 0.5); /* Player 3: couleur #00c5d5 */
    border: 2px solid #00c5d5;
}
#player6-frame {
    background-color: rgba(138, 106, 206, 0.5); /* Player 4: couleur #8a6ace */
    border: 2px solid #8a6ace;
}
#player7-frame {
    background-color: rgba(0, 197, 213, 0.5); /* Player 3: couleur #00c5d5 */
    border: 2px solid #00c5d5;
}
#player8-frame {
    background-color: rgba(138, 106, 206, 0.5); /* Player 4: couleur #8a6ace */
    border: 2px solid #8a6ace;
}
#player9-frame {
    background-color: rgba(0, 197, 213, 0.5); /* Player 3: couleur #00c5d5 */
    border: 2px solid #00c5d5;
}

.player-entry {
    width: 95%;
    margin-bottom: 15px;
    padding: 10px;
    position: relative;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-entry:nth-child(odd) {
    background-color: rgba(0, 197, 213, 0.5);
    border: 2px solid #00c5d5;
}

.player-entry:nth-child(even) {
    background-color: rgba(138, 106, 172, 0.5);
    border: 2px solid #8a6ace;
}

.player-entry input {
    margin-left: 10px;
}

.player-entry h4 {
    position: absolute;
    top: 10px;
    left: 10px;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

