body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #000;
    color: white;
    padding: 15px;
    text-align: center;
    z-index: 10;
}

.color1 {
    color: #00c5d5;
}

.color2 {
    color: #8a6ace;
}

h1 {
    font-size: 4em;
}

nav {
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    padding-bottom: 9px;
    padding-top: 9px;
    width: 100%;
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    text-align: center;
    flex: 1;
}

nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

nav ul li a img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

nav ul li a img:hover {
    transform: scale(1.1);
}


/* Style de l'annexe */
.annexe {
    font-style: italic;
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 5px solid #ffcc00;
    padding: 15px;
    margin: 20px auto;
    width: 80%;
    text-align: left;
}


#version1 {
    display: block;
}

/* Style du sous-titre */
.subtitle {
    color: white;
    text-align: center;
    font-size: 3em;
    margin-top: -10px;
}

/* Onglets */
.tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tab {
    background-color: #666;
    color: white;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.tab:hover {
    background-color: #888;
}

/* Contenu des vidéos */
.video-container {
    text-align: center;
    margin-top: 20px;
}

.version-content {
    display: none;
    margin-top: 20px;
}

#video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 0;
    position: absolute;
    padding-bottom: 10px;
}

#video-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* Séparateur bouton */
.tab-separateur {
    background-color: #fff;
    margin: 5px;
    padding: 1px;
    border-radius: 5px;
    border-color: #fff;
}



/* Container des grandes vidéos */
.single-video, #second-video {
    margin-top: -40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Espacement entre les vidéos */
}

/* Container des petites vidéos */
#dual-videos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%; /* Espacement de 10% entre les petites vidéos */
    width: 100%;
    padding-bottom: 30%;
}

/* Pour les petites vidéos */
#choiceA, #choiceB {
    width: 30%;
    height: auto;
    cursor: pointer;
}

/* Pour les grandes vidéos */
#videoA, #videoB {
    width: 75%;
    height: auto;
}

#video-container,
#dual-videos,
#second-video,
.single-video {
    z-index: 1; /* Place-les derrière */
}



/* Style de l'annexe : Menu pour le choix des options */
.menu-container {
    z-index: 10;
    font-style: italic;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.05);
    border-left: 5px solid #00c5d5;
    padding: 20px;
    margin: 30px auto;
    width: 80%;
    text-align: left;
    line-height: 1.8;
}
